---
import Navigation from "@/sections/Navigation.astro";
import Logo from "@/components/Logo.astro";
import User from "@/components/User.astro";
---

<header class="bg-[#F8FBFF] py-12">
  <section class="max-w-6xl px-6 mx-auto flex justify-between">
    <Logo />

    <div class="flex items-center">
      <Navigation />
      <!-- <User /> -->
    </div>
  </section>
</header>
